{% extends 'accounts/dashboard_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <main class="p-6 flex-1 overflow-y-auto">
        <div class="bg-white rounded-2xl min-h-80 h-auto shadow-custom p-4">
            <div class="px-2 md:px-3 pt-3 pb-5 mb-3 text-zinc-700 text-sm md:text-base flex items-center gap-x-2 border-b border-zinc-200">
                <svg class="fill-primary-500" fill="" height="20" viewbox="0 0 256 256" width="20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M128,16a88.1,88.1,0,0,0-88,88c0,75.3,80,132.17,83.41,134.55a8,8,0,0,0,9.18,0C136,236.17,216,179.3,216,104A88.1,88.1,0,0,0,128,16Zm0,56a32,32,0,1,1-32,32A32,32,0,0,1,128,72Z"></path>
                </svg>
                صفحه اصلی
            </div>
            <div class="grid grid-cols-2 md:flex gap-5 text-xs md:text-sm">
                <div class="flex md:w-1/4 gap-x-2 items-center bg-gradient-to-bl from-red-500 to-red-700 rounded-2xl p-3">
                    <svg class="fill-zinc-100 bg-red-600 rounded-xl p-1" fill="" height="44" viewbox="0 0 256 256"
                         width="44" xmlns="http://www.w3.org/2000/svg">
                        <path d="M232,96v96a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V96Z" opacity="0.2"></path>
                        <path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path>
                    </svg>
                    <div class="text-zinc-50 space-y-1">
                        <div>
                            موجودی حساب
                        </div>
                        <div>
                            {{ account_balance|floatformat:0|intcomma }} تومان
                        </div>
                    </div>
                </div>
                <div class="flex md:w-1/4 gap-x-2 items-center bg-gradient-to-bl from-yellow-500 to-yellow-700 rounded-2xl p-3">
                    <svg class="fill-zinc-100 bg-yellow-600 rounded-xl p-1" fill="#000000" height="44"
                         viewbox="0 0 256 256" width="44" xmlns="http://www.w3.org/2000/svg">
                        <path d="M240,104,128,224,80,104l48-64h56Z" opacity="0.2"></path>
                        <path d="M246,98.73l-56-64A8,8,0,0,0,184,32H72a8,8,0,0,0-6,2.73l-56,64a8,8,0,0,0,.17,10.73l112,120a8,8,0,0,0,11.7,0l112-120A8,8,0,0,0,246,98.73ZM222.37,96H180L144,48h36.37ZM74.58,112l30.13,75.33L34.41,112Zm89.6,0L128,202.46,91.82,112ZM96,96l32-42.67L160,96Zm85.42,16h40.17l-70.3,75.33ZM75.63,48H112L76,96H33.63Z"></path>
                    </svg>
                    <div class="text-zinc-100 space-y-1">
                        <div>
                            امتیاز ها
                        </div>
                        <div>
                            {{ points|intcomma }} امتیاز
                        </div>
                    </div>
                </div>
                <div class="flex md:w-1/4 gap-x-2 items-center bg-gradient-to-bl from-blue-500 to-blue-700 rounded-2xl p-3">
                    <svg class="fill-zinc-100 bg-blue-600 rounded-xl p-1" fill="#000000" height="44"
                         viewbox="0 0 256 256" width="44" xmlns="http://www.w3.org/2000/svg">
                        <path d="M216,64l-12.16,66.86A16,16,0,0,1,188.1,144H62.55L48,64Z" opacity="0.2"></path>
                        <path d="M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87ZM96,204a12,12,0,1,1-12-12A12,12,0,0,1,96,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,192,204Zm4-74.57A8,8,0,0,1,188.1,136H69.22L57.59,72H206.41Z"></path>
                    </svg>
                    <div class="text-zinc-100 space-y-1">
                        <div>
                            سفارشات کل
                        </div>
                        <div>
                            {{ orders_count|intcomma }}
                        </div>
                    </div>
                </div>
                <div class="flex md:w-1/4 gap-x-2 items-center bg-gradient-to-bl from-green-500 to-green-700 rounded-2xl p-3">
                    <svg class="fill-zinc-100 bg-green-600 rounded-xl p-1" fill="#000000" height="44"
                         viewbox="0 0 256 256" width="44" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16,152H48v56H16a8,8,0,0,1-8-8V160A8,8,0,0,1,16,152ZM204,56a28,28,0,0,0-12,2.71h0A28,28,0,1,0,176,85.29h0A28,28,0,1,0,204,56Z"
                              opacity="0.2"></path>
                        <path d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z"></path>
                    </svg>
                    <div class="text-zinc-100 space-y-1">
                        <div>
                            تحویل داده شده
                        </div>
                        <div>
                            {{ delivered_count|intcomma }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-2 md:px-3 pt-16 pb-5 mb-3 text-zinc-700 text-sm md:text-base flex items-center gap-x-2 border-b border-zinc-200">
                <svg class="fill-primary-500" fill="" height="20" viewbox="0 0 256 256" width="20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M128,16a88.1,88.1,0,0,0-88,88c0,75.3,80,132.17,83.41,134.55a8,8,0,0,0,9.18,0C136,236.17,216,179.3,216,104A88.1,88.1,0,0,0,128,16Zm0,56a32,32,0,1,1-32,32A32,32,0,0,1,128,72Z"></path>
                </svg>
                آخرین سفارشات
            </div>
            <div class="relative flex flex-col w-full h-full overflow-scroll text-gray-700">
                <table class="w-full text-right table-auto min-w-max">
                    <thead>
                    <tr>
                        <th class="p-4 border-b border-b-zinc-400">
                            <p class="block text-sm opacity-70">
                                شماره سفارش
                            </p>
                        </th>
                        <th class="p-4 border-b border-b-zinc-400">
                            <p class="block text-sm opacity-70">
                                تاریخ
                            </p>
                        </th>
                        <th class="p-4 border-b border-b-zinc-400">
                            <p class="block text-sm opacity-70">
                                مبلغ
                            </p>
                        </th>
                        <th class="p-4 border-b border-b-zinc-400">
                            <p class="block text-sm opacity-70">
                                جزئیات
                            </p>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in recent_orders %}
                    <tr class="even:bg-zinc-100">
                        <td class="p-4">
                            <p class="block text-sm">
                                #{{ order.order_number }}
                            </p>
                        </td>
                        <td class="p-4">
                            <p class="block text-sm">
                                {{ order.jalali_created }}
                            </p>
                        </td>
                        <td class="p-4">
                            <p class="block text-sm">
                                {{ order.get_final_price|intcomma }} تومان
                            </p>
                        </td>
                        <td class="p-4">
                            <a class="block text-xs" href="{% url 'dashboard-order-details' order.id %}">مشاهده</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="p-4 text-center text-zinc-500">
                            سفارشی ثبت نشده است
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- slider 1 -->
            <div class="mt-12 md:mt-20 px-4 md:px-14">
                <!-- top slider -->
                <div class="flex gap-x-4 justify-between items-center mb-7">
                    <div class="w-48 min-w-fit text-zinc-700 md:font-yekanBakhBold">
                        محصولات پیشنهادی برای شما
                    </div>
                </div>
                <!-- main slider -->
                <div class="containerPSlider swiper">
                    <div class="productSliderDashboard">
                        <div class="card-wrapper swiper-wrapper pb-10">
                            {% for product in recommended_products %}
                            <div class="card swiper-slide shiny my-2 p-2 md:p-4 hover:border-transparent hover:shadow-lg transition-shadow rounded-3xl border border-zinc-200 relative">
                                <a href="#" class="toggle-favorite" data-product-id="{{ product.id }}">
                                    <svg class="absolute right-2 top-2 {% if product.id in user_favorites %}bg-red-500 fill-white{% else %}bg-white hover:bg-primary-500 hover:fill-white{% endif %} transition-all rounded-full p-2 border border-zinc-300 size-9 favorite-icon"
                                         fill="{% if product.id in user_favorites %}#ffffff{% else %}#000000{% endif %}" height="" viewbox="0 0 256 256" width=""
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"></path>
                                    </svg>
                                </a>
                                <a class="image-box mb-6 block py-10" href="{% url 'product' product.slug %}">
                                    {% if product.images.first %}
                                    <img alt="{{ product.title }}" class="max-w-40 mx-auto"
                                         src="{{ product.images.first.image.url }}">
                                    {% else %}
                                    <img alt="{{ product.title }}" class="max-w-40 mx-auto"
                                         src='{% static "./assets/image/products/2.webp" %}'>
                                    {% endif %}
                                </a>
                                <a class="text-sm font-semibold text-zinc-700 h-10 line-clamp-2"
                                   href="{% url 'product' product.slug %}">
                                    {{ product.title }}
                                </a>
                                <div class="flex my-5">
                                    <div class="text-xl md:text-2xl text-zinc-800">{{ product.price|intcomma }}</div>
                                    <div class="-rotate-90 text-zinc-400 text-xs">
                                        تومان
                                    </div>
                                </div>
                                <div class="flex justify-between items-center">
                                    {% if product.stock > 0 %}
                                    <a class="group/edit bg-primary-500 hover:bg-primary-400 text-white flex justify-center items-center text-xs md:text-sm mx-auto gap-x-2 px-5 md:px-2.5 py-2.5 rounded-xl shadow-lg transition-all add-to-cart"
                                       href="#" data-product-id="{{ product.id }}">
                                        <svg class="stroke-white size-5 md:size-6" fill="none" height="24"
                                             viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.86399 16.455C4.40999 18.638 4.68299 19.729 5.49599 20.365C6.30999 21 7.43499 21 9.68499 21H14.315C16.565 21 17.69 21 18.505 20.365C19.318 19.729 19.591 18.638 20.136 16.455C20.994 13.023 21.423 11.308 20.523 10.154C19.622 9 17.853 9 14.316 9H9.68499C6.14699 9 4.37899 9 3.47799 10.154C2.94899 10.831 2.87799 11.702 3.08399 13"
                                                  stroke="#" stroke-linecap="round" stroke-width="1.5"></path>
                                            <path d="M19.5 9.5L18.79 6.895C18.516 5.89 18.379 5.388 18.098 5.009C17.8178 4.63246 17.4373 4.3424 17 4.172C16.56 4 16.04 4 15 4M4.5 9.5L5.21 6.895C5.484 5.89 5.621 5.388 5.902 5.009C6.18218 4.63246 6.56269 4.3424 7 4.172C7.44 4 7.96 4 9 4"
                                                  stroke="#" stroke-width="1.5"></path>
                                            <path d="M9 4C9 3.73478 9.10536 3.48043 9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3H14C14.2652 3 14.5196 3.10536 14.7071 3.29289C14.8946 3.48043 15 3.73478 15 4C15 4.26522 14.8946 4.51957 14.7071 4.70711C14.5196 4.89464 14.2652 5 14 5H10C9.73478 5 9.48043 4.89464 9.29289 4.70711C9.10536 4.51957 9 4.26522 9 4Z"
                                                  stroke="#" stroke-width="1.5"></path>
                                        </svg>
                                        افزودن به سبد خرید
                                    </a>
                                    {% else %}
                                    <span class="text-zinc-500 text-xs md:text-sm mx-auto">ناموجود</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% empty %}
                            <div class="text-center text-zinc-500 py-8 w-full">
                                محصولی یافت نشد
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}