{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <main class="mt-0 md:mt-8">
        <!-- new blogs slider -->
        <div class="md:mt-10 px-4 md:px-14">
            <!-- top blog -->
            <div class="flex gap-x-4 justify-between items-center mb-7">
                <div class="h-[1px] w-full bg-gradient-to-r from-white via-zinc-300 to-white">
                </div>
                <div class="w-48 min-w-fit text-zinc-700 md:font-yekanBakhBold md:text-lg">
                    جدیدترین مطالب
                </div>
                <div class="h-[1px] w-full bg-gradient-to-r from-white via-zinc-300 to-white">
                </div>
            </div>
            <!-- main blog -->
            <div class="containerPSlider swiper">
                <div class="newBlogs">
                    <div class="card-wrapper swiper-wrapper pb-10">
                        {% for post in posts|slice:":6" %}
                        <div class="card swiper-slide bg-white rounded-3xl border hover:border-zinc-300 transition border-zinc-300 group p-2 md:p-3 hover:drop-shadow-lg">
                            <a class="image-box block overflow-hidden rounded-lg md:rounded-2xl" href="{% url 'blog_detail' post.pk %}">
                                {% if post.image %}
                                    <img alt="{{ post.title }}"
                                         class="rounded-2xl w-full transition-transform duration-300 ease-in-out group-hover:rotate-3 group-hover:scale-110 lazyload"
                                         src="{{ post.image.url }}">
                                {% else %}
                                    <img alt="{{ post.title }}"
                                     class="rounded-2xl w-full transition-transform duration-300 ease-in-out group-hover:rotate-3 group-hover:scale-110 lazyload bg-gray-100"
                                     src='{% static "./assets/image/placeholder.svg" %}'>
                                {% endif %}
                            </a>
                            <div class="p-2 mt-2">
                                <a class="text-xs md:text-sm font-normal md:font-semibold h-8 lg:h-10 line-clamp-2 text-zinc-700"
                                   href="{% url 'blog_detail' post.pk %}">
                                    {{ post.title }}
                                </a>
                                <div class="flex justify-between mt-8">
                                    <div class="text-xs flex gap-x-1 items-center text-zinc-400">
                                        <svg class="fill-zinc-400" fill="" height="16" viewbox="0 0 256 256" width="16"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z"></path>
                                        </svg>
                                        {{ post.jalali_created }}
                                    </div>
                                    <a class="flex justify-center items-center gap-x-1 group w-fit text-xs md:text-sm transition text-zinc-600 group-hover:text-zinc-700"
                                       href="{% url 'blog_detail' post.pk %}">
                                        ادامه مطلب
                                        <svg class="fill-zinc-600 transition group-hover:fill-zinc-700 size-2 md:size-4"
                                             fill="" height="14" viewbox="0 0 256 256" width="14"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="text-center text-zinc-600 py-10 w-full">
                            هنوز پستی منتشر نشده است
                                    </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- blogs and category -->
        <div class="flex flex-col lg:flex-row px-4 md:px-20 mt-10 gap-5 pb-20">
            <!-- category -->
            <div class="lg:w-3/12 border border-zinc-300 h-fit rounded-2xl p-3 space-y-2">
                <div class="text-zinc-800 font-semibold mb-3">دسته‌بندی‌ها</div>
                {% for category in blog_categories %}
                <div>
                    <a href="?category={{ category.slug }}" class="flex justify-between w-full py-3 px-4 hover:bg-gray-100 rounded-lg {% if selected_category == category.slug %}bg-primary-50 border border-primary-300{% endif %}">
                        <div class="flex items-center gap-x-1">
                            <svg fill="none" height="20" viewbox="0 0 24 24" width="20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path class="stroke-zinc-800"
                                      d="M15.25 2.75H8.75C7.09315 2.75 5.75 4.09315 5.75 5.75V18.25C5.75 19.9069 7.09315 21.25 8.75 21.25H15.25C16.9069 21.25 18.25 19.9069 18.25 18.25V5.75C18.25 4.09315 16.9069 2.75 15.25 2.75Z"
                                      stroke="#71717b" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="1.5"></path>
                                <path class="stroke-zinc-800" d="M11 17.75H13" stroke="" stroke-linecap="round"
                                      stroke-linejoin="round" stroke-width="1.5"></path>
                            </svg>
                            <span class="text-zinc-800">{{ category.name }}</span>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="text-zinc-500 text-sm">دسته‌بندی‌ای وجود ندارد</div>
                {% endfor %}
                <a href="{% url 'blog' %}" class="block text-center text-primary-500 text-sm py-2 hover:bg-gray-100 rounded-lg">
                    همه دسته‌بندی‌ها
                </a>
            </div>
            <!-- blogs -->
            <div class="lg:w-9/12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
                {% for post in posts %}
                <div class="bg-white rounded-3xl border hover:border-zinc-300 transition border-zinc-300 group p-2 md:p-3 hover:drop-shadow-lg">
                    <a class="image-box block overflow-hidden rounded-lg md:rounded-2xl" href="{% url 'blog_detail' post.pk %}">
                        {% if post.image %}
                            <img alt="{{ post.title }}"
                             class="rounded-2xl w-full transition-transform duration-300 ease-in-out group-hover:rotate-3 group-hover:scale-110 lazyload"
                                 src="{{ post.image.url }}">
                        {% else %}
                            <img alt="{{ post.title }}"
                             class="rounded-2xl w-full transition-transform duration-300 ease-in-out group-hover:rotate-3 group-hover:scale-110 lazyload bg-gray-100"
                             src='{% static "./assets/image/placeholder.svg" %}'>
                        {% endif %}
                    </a>
                    <div class="p-2 mt-2">
                        <a class="text-xs md:text-sm font-normal md:font-semibold h-8 lg:h-10 line-clamp-2 text-zinc-700"
                           href="{% url 'blog_detail' post.pk %}">
                            {{ post.title }}
                        </a>
                        <div class="flex justify-between mt-8">
                            <div class="text-xs flex gap-x-1 items-center text-zinc-400">
                                <svg class="fill-zinc-400" fill="" height="16" viewbox="0 0 256 256" width="16"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z"></path>
                                </svg>
                                {{ post.jalali_created }}
                            </div>
                            <a class="flex justify-center items-center gap-x-1 group w-fit text-xs md:text-sm transition text-zinc-600 group-hover:text-zinc-700"
                               href="{% url 'blog_detail' post.pk %}">
                                ادامه مطلب
                                <svg class="fill-zinc-600 transition group-hover:fill-zinc-700 size-2 md:size-4" fill=""
                                     height="14" viewbox="0 0 256 256" width="14" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-span-full text-center text-zinc-600 py-20">
                    <p class="text-lg mb-4">هنوز پستی منتشر نشده است</p>
                    <p class="text-sm text-zinc-400">لطفا در پنل ادمین پست جدیدی ایجاد کنید</p>
                            </div>
                {% endfor %}
            </div>
        </div>
        <!-- pagination -->
        {% if posts.has_other_pages %}
        <div class="flex justify-center mb-12">
            {% if posts.has_previous %}
            <a class="flex items-center justify-center px-3.5 md:px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md -scale-x-100 hover:bg-primary-500 hover:text-white"
               href="?page={{ posts.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if search_query %}&search={{ search_query }}{% endif %}">
                <svg class="size-4 md:size-5" fill="currentColor" viewbox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd"
                          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                          fill-rule="evenodd"></path>
                </svg>
            </a>
            {% endif %}
            
            {% for num in posts.paginator.page_range %}
                {% if posts.number == num %}
                <span class="border border-zinc-100 text-sm md:text-base px-3.5 md:px-4 py-2 mx-1 transition-colors duration-300 transform bg-primary-500 text-white rounded-md">
                    {{ num }}
                </span>
                {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
            <a class="border border-zinc-100 text-sm md:text-base px-3.5 md:px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md hover:bg-primary-500 hover:text-white"
                   href="?page={{ num }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if search_query %}&search={{ search_query }}{% endif %}">
                    {{ num }}
                </a>
                {% endif %}
            {% endfor %}
            
            {% if posts.has_next %}
            <a class="flex items-center justify-center px-3.5 md:px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md -scale-x-100 hover:bg-primary-500 hover:text-white"
               href="?page={{ posts.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if search_query %}&search={{ search_query }}{% endif %}">
                <svg class="size-4 md:size-5" fill="currentColor" viewbox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          fill-rule="evenodd"></path>
                </svg>
            </a>
            {% endif %}
        </div>
        {% endif %}
    </main>
{% endblock %}
